<div id="divNguoiSangLap" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848182497 vc_row-has-fill">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-course-slider owl-wrap rt-owl-nav-1 style-3">
          <div class="section-title clearfix">
            <h2 class="owl-custom-nav-title ">Ban quản trị</h2>
          </div>
          <div class="divCircle">
            <div class="circle-parent">
              <a routerLink="">
                <div id="circle" [ngStyle]="{'background':'url(' + BASE_URL_MEDIA + 'Images/images/2.jpg)  center'}">
                </div>
              </a>
              <a routerLink="">
                <h2 class="childBG">Trần Tuân <br/>-- Event Director --</h2>
              </a>
              <div class="clear"></div>
            </div>
            <div class="circle-parent">
              <a routerLink="">
                <div id="circle" [ngStyle]="{'background':'url(' + BASE_URL_MEDIA + 'Images/images/3.jpg)  center'}">
                </div>
              </a>
              <a routerLink="">
                <h2 class="childBG">Đặng Thu Huyền <br>-- CEO --</h2>
              </a>
              <div class="clear"></div>
            </div>
            <div class="circle-parent">
              <a routerLink="">
                <div id="circle"[ngStyle]="{'background':'url(' + BASE_URL_MEDIA + 'Images/images/1.jpg)  center'}">
                </div>
              </a>
              <a routerLink="">
                <h2 class="childBG">Trịnh Hải Nam <br/> -- Art Director --</h2>
              </a>
              <div class="clear"></div>
            </div>
          </div>
          <!-- <div class="">
              <div *ngFor="let item of ListData;">
                <div class="">
                  <div id="circle">
                    <img class="childBG"src="{{BASE_URL_MEDIA + item.ImageUrl}}" alt="" />
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
