#circle {
  width: 200px;
  border-radius: 500px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0px 7px 25px #fdfdfd;
  background: #fafafa;
  margin-bottom: 20px;
  opacity: 1;
  background-size: 100% !important;
  border: 3px solid white;
}

#circle::before {
  opacity: .4;
  content: "";
  z-index: -1;
}

#circle:hover {
  opacity: 1;
  /* 
  width: 220px;
  height: 220px;
  background: #19375B;
  color: white;
  overflow: hidden; */
}

.divCircle {
  width: 770px;
  margin: 0 auto;
}

.circle-parent {
  float: left;
  margin: 0px 20px;
  width: 215px;
}

.circle-parent .text {
  color: white;
  font-style: italic
}

.circle-parent .text span:first-child {
  margin-top: 5px;
  position: absolute;
  font-family: UTMAmericana;
  font-size: 45px;
  color: #ffe300;
  font-size: 45px;
}

.circle-parent .text span:nth-child(2) {
  padding-left: 30px;
}

.circle-parent .text span:last-child {
  font-family: UTMAmericana;
  font-size: 45px;
  margin-left: -3px;
  margin-top: 15px;
  position: absolute;
  color: #ffe300;
}

.circle-parent h2 {
  color: white;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.circle-parent h2:hover {
  color: wheat;
}

#circle:hover h2 {
  color: wheat;
}

#circle .childBG {
  /* -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
  transform: skew(15deg); */
  margin-top: 35%;
  text-align: center;
  padding: 0px 15px;
}

#divNguoiSangLap {
  padding-top: 34px !important;
  padding-bottom: 0px !important;
  background-color: #b3000c !important;
}

#divNguoiSangLap .owl-custom-nav-title {
  color: white !important;
}

.rt-owl-nav-1 .section-title {
  margin-bottom: 25px;
}

.clearfix:after {
  clear: both;
  display: block;
  content: '';
  border: 1px solid white;
  width: 105px;
  margin: 0 auto;
}

#divNguoiSangLap img {
  height: 100% !important;
  padding: 12px;
  border-radius: 500px;
}