<footer>
  <div class="footer-top-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-3 col-xs-12">
                  <div id="rdtheme_about-2" class="widget widget_rdtheme_about">
                      <h3 class="widgettitle"><img src="/assets/images/logo-footer.png" alt="EIKRA">EIKRA</h3>
                      <p class="rtin-des">Lorem ipsum dolor sit ametarous consectetur adipiscing elitorot and Pellentesque euismod nunc ante, sit amet dapibus accumsan vitae. Donec eget felis leo auctor diam non finibus tubis ante dui.</p>
                      <ul>
                          <li><a href="https://www.facebook.com/radiustheme" target="_blank"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://twitter.com/radiustheme" target="_blank"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="https://plus.google.com/+googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="https://www.linkedin.com/company/radiustheme" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                          <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                  <div id="nav_menu-2" class="widget widget_nav_menu">
                      <h3 class="widgettitle">Featured Links</h3>
                      <div class="menu-featured-links-container">
                          <ul id="menu-featured-links-1" class="menu">
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67"><a href="#">Graduation</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68"><a href="#">Courses</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69"><a href="#">Admissions</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70"><a href="#">About Us</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71"><a href="#">International</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72"><a href="#">Book Store</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a href="#">FAQs</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a href="#">Alumni</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                  <div id="rdtheme_info-2" class="widget widget_rdtheme_info">
                      <h3 class="widgettitle">Information</h3>
                      <ul>
                          <li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>44 New Design Street, Australia</li>
                          <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:32480043363">32480043363</a></li>
                          <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
                          <li><i class="fa fa-fax" aria-hidden="true"></i> (123) 118 9999</li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                  <div id="zflickr-2" class="widget widget_flickr">
                      <h3 class="widgettitle">Flickr Photos</h3>
                      <div id="fbw-zflickr-2" class="flickr-badge-wrapper ltr zframe-flickr-wrap-ltr default">
                          <ul>
                              <li id="flickr_badge_image1" class="flickr_badge_image">
                                  <a href="https://www.flickr.com/photos/markjsebastian/41405520625/" target="_blank"><img src="https://farm1.staticflickr.com/964/41405520625_ccfb2a3926_s.jpg" alt="A photo on Flickr" title="Fort Funston (#1046)" height="75" width="75"></a>
                              </li>
                              <li id="flickr_badge_image2" class="flickr_badge_image">
                                  <a href="https://www.flickr.com/photos/markjsebastian/42259751612/" target="_blank"><img src="https://farm1.staticflickr.com/967/42259751612_c16da66a88_s.jpg" alt="A photo on Flickr" title="Toby Roosevelt dressed as Chewbacca (#9058)" height="75" width="75"></a>
                              </li>
                              <li id="flickr_badge_image3" class="flickr_badge_image">
                                  <a href="https://www.flickr.com/photos/markjsebastian/42306442411/" target="_blank"><img src="https://farm1.staticflickr.com/885/42306442411_e32df63338_s.jpg" alt="A photo on Flickr" title="Tom Plotkin Headshot" height="75" width="75"></a>
                              </li>
                              <li id="flickr_badge_image4" class="flickr_badge_image">
                                  <a href="https://www.flickr.com/photos/markjsebastian/42306355931/" target="_blank"><img src="https://farm1.staticflickr.com/943/42306355931_721de9b0f4_s.jpg" alt="A photo on Flickr" title="Kathy Nguyen" height="75" width="75"></a>
                              </li>
                              <li id="flickr_badge_image5" class="flickr_badge_image">
                                  <a href="https://www.flickr.com/photos/markjsebastian/41405027035/" target="_blank"><img src="https://farm1.staticflickr.com/975/41405027035_6a9780823b_s.jpg" alt="A photo on Flickr" title="Kevin Durant of the Golden State Warriors" height="75" width="75"></a>
                              </li>
                              <li id="flickr_badge_image6" class="flickr_badge_image">
                                  <a href="https://www.flickr.com/photos/markjsebastian/24534235809/" target="_blank"><img src="https://farm2.staticflickr.com/1684/24534235809_f40d28d897_s.jpg" alt="A photo on Flickr" title="_75B8406" height="75" width="75"></a>
                              </li>
                          </ul>
                      </div>
                      <span style="position:absolute;left:-999em;top:-999em;visibility:hidden" class="flickr_badge_beacon"><img src="https://geo.yahoo.com/p?s=792600102&amp;t=f23d44c39466a89748a8336564831c7d&amp;r=https%3A%2F%2Fwww.flickr.com%2Fbadge_code_v2.gne%3Fcount%3D6%26display%3Dlatest%26size%3Ds%26layout%3Dx%26source%3Duser%26user%3D71865026%2540N00&amp;fl_ev=0&amp;lang=en&amp;intl=us" width="0" height="0" alt=""></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-xs-12">&copy; Copyright Tầm Nhìn mới 2018.</div>
              <div class="col-sm-4 col-xs-12">
                  <ul class="payment-icons">
                      <li><img alt="payment" src="/assets/images/payment-method1.jpg"></li>
                      <li><img alt="payment" src="/assets/images/payment-method2.jpg"></li>
                      <li><img alt="payment" src="/assets/images/payment-method3.jpg"></li>
                      <li><img alt="payment" src="/assets/images/payment-method4.jpg"></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
