<footer>
  <div class="footer-top-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div id="rdtheme_about-2" class="widget widget_rdtheme_about">
            <h3 class="widgettitle">
              <!-- <img src="/assets/images/logo-dark.png" alt="Sự kiện tầm nhìn mới">Sự kiện tầm nhìn mới -->
            </h3>
            <p class="rtin-des">Sự kiện tầm nhìn mới</p>
            <ul>
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div id="nav_menu-2" class="widget widget_nav_menu">
            <h3 class="widgettitle">Dịch vụ</h3>
            <div class="menu-featured-links-container">
              <ul id="menu-featured-links-1" class="menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67" *ngFor="let item of ListData">
                  <a routerLink="list/{{item.CategoryID}}">{{item.CategoryName}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div id="rdtheme_info-2" class="widget widget_rdtheme_info">
            <h3 class="widgettitle">Thông tin</h3>
            <ul>
              <li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Sự kiện tầm nhìn mới</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:0931669989">0931.669.989</a></li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@sukientamnhinmoi.vn">info@sukientamnhinmoi.vn</a></li>
              <li><i class="fa fa-fax" aria-hidden="true"></i> 0931.669.989</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-xs-12">&copy; Copyright Tầm Nhìn mới 2018.</div>
        <div class="col-sm-4 col-xs-12">
          <ul class="payment-icons">
            <li><img alt="payment" src="/assets/images/payment-method1.jpg"></li>
            <li><img alt="payment" src="/assets/images/payment-method2.jpg"></li>
            <li><img alt="payment" src="/assets/images/payment-method3.jpg"></li>
            <li><img alt="payment" src="/assets/images/payment-method4.jpg"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
