<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1515066600956 vc_row-has-fill">
  <div class="wpb_column vc_column_container vc_col-sm-9 vc_col-lg-6 vc_col-md-6">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-text-title  style3">
          <h2 class="rtin-title">Chào mừng đến với Tầm Nhìn Mới</h2>
          <p class="rtin-content">
            <strong>Thiết kế 2D & 3D là tài sản vô giá của mỗi doanh nghiệp. Để có Thiết kế 2D & 3D mạnh, cũng như vị
              trí tốt trong tâm trí người tiêu dùng đòi hỏi chủ doanh nghiệp phải có tư duy và đầu tư cho Thiết kế 2D &
              3D. Chính vì thế Tư vấn truyền thông Thiết kế 2D & 3D từ lâu đã là công tác vô cùng quan trọng trong công
              cuộc phát triển Thiết kế 2D & 3D đó.
            </strong>
          </p>
          <div class="rtin-btn">
            <a href="#">Xem thêm...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-6 vc_col-md-6">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="divVideo">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rcjWS_E8N2A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>