.vc_custom_1515066600956 {
    padding-top: 55px !important;
    padding-bottom: 35px !important;
}
.divVideo{
    width: 100%;
    height: 340px;
    box-shadow: 9px 9px 17px #990000;
    padding: 10px;
    background: wheat;
}
.vc_custom_1515066600956 {
  background-image: none !important;
}

#divGioiThieu h2{
  font-size: 20px;
  color: #e40b14;
  text-align: left !important;
  border-bottom: 1px solid;
}
