<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1515066600956 vc_row-has-fill">
  <div class="wpb_column vc_column_container vc_col-sm-9 vc_col-lg-6 vc_col-md-6">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-text-title  style3">
          <h2 class="rtin-title">Chào mừng đến với Tầm Nhìn Mới</h2>
          <p class="rtin-content">
            <strong>Tmply dummy text of the printing and typesetting industry. Lorem Ipsum has been theindustry&#8217;s
              standard.
            </strong>
          </p>
          <p>Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            it to make a type specimen book.Smply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry&#8217;s when an unknown printerit to make a type specimen book.</p>
          <div class="rtin-btn">
            <a href="#">Xem thêm...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-6 vc_col-md-6">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
</div>