<div class="vc_row wpb_row vc_row-fluid inside-slider">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-2" *ngFor="let item of GetCateByParentID(CateDichVu)">
            <div class="vc_column-inner vc_custom_1509108645328">
              <div class="wpb_wrapper">
                <div class="media rt-info-box layout5">

                  <div class="media-body">
                    <div class="rtin-icon rounded">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <br>
                      <p class="mb0">{{item.CategoryName}}</p>
                    </div>

                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
