.rt-info-box.layout5 {
  text-align: center;
  padding: 6px 10px 10px 10px;
  height: 125px;
}
.inside-slider>div {
  position: absolute;
  z-index: 30;
  bottom: 2px;
/*
  box-shadow: 9px 9px 17px #303030;
  background: #0d0d0d54; */
}
.vc_column_container {
  padding-left: 0px;
  padding-right: 0px;
  z-index: 2;

  /* border-radius: 5px; */
  /* border-right: 1px solid white; */
}
@media only screen and (max-width: 1224px) {
  .vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
    margin: 0 auto;
  }
  .rt-info-box.layout5[_ngcontent-c4] {
    margin: 0px auto 10px auto;
}
}
#hexagon {
  width: 130px;
  height: 95px;
  position: relative;
  background-image: linear-gradient(#dedede,#b3b3b3);
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    box-shadow: 5px -28px 135px #ff4848;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 32.5px solid #dedede;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-top: 32.5px solid #b3b3b3;
}
.vc_custom_1508848968428 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.media-body{
  position: absolute;
  top: -18px;
  text-align: center;
  width: 156px;
  height: 131px;
  left: -12px;
  padding-top: 7px;
}
.media-body .mb0
{
  font-weight: bold;
  color: #b10000;
  padding: 0px 10px;
}

