<!-- <div data-vc-full-width="true"  id="dichvu" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848968428 vc_row-has-fill">
  <div class="overlay" ></div>
  <div class="wpb_column vc_column_container col-md-2" *ngFor="let item of ListData | customSortArray:'SortOrder':1">
    <div class="vc_column-inner vc_inner vc_custom_1509108645328">
      <div class="wpb_wrapper">
        <a routerLink="list/{{item.CategoryID}}">
          <div class="" [attr.id]="'hexagon'">


            <div class="clear"></div>
          </div>
          <div class="media-body">
            <div class="rtin-icon rounded">
              <img src="{{BASE_URL_MEDIA + item.IconUrl}}" class="ls-bg" alt="" style="width: 60px;" />
              <br>
              <p class="mb0 ">{{item.CategoryName | uppercase }}</p>
            </div>

          </div>
        </a>
      </div>
    </div>
  </div>
</div> -->
<div data-vc-full-width="true" id="dichvu" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848968428 vc_row-has-fill">
  <div class="wpb_column vc_column_container col-md-2" *ngFor="let item of ListData | customSortArray:'SortOrder':1">
    <div class="vc_column-inner vc_inner vc_custom_1509108645328">
      <div class="wpb_wrapper">
        <a routerLink="list/{{item.CategoryID}}">
          <div class="hexagonImage">
              
          </div>
          <div class="bgHexaImage"></div>
          <div class="media-body">
              <div class="rtin-icon rounded">
                <img src="{{BASE_URL_MEDIA + item.IconUrl}}" class="ls-bg" alt="" style="width: 60px;" />
                <br>
                <p class="mb0 ">{{item.CategoryName | uppercase }}</p>
              </div>
            </div>
        </a>
      </div>
    </div>
  </div>
</div>