<header id="masthead" class="site-header">
  <div id="tophead">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="tophead-contact">
            <ul>
              <li> <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:0931669989">0931.669.989</a></li>
              <li class="topbar-icon-seperator">|</li>
              <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@SuKienTamNhinMoi.vn</a></li>
            </ul>
          </div>
          <div class="tophead-right"> <a class="topbar-btn" href="//sukientamnhinmoi.vn/Ho_So_nang luc_TamNhinMoi.pdf"
              target="_blank">Hồ sơ năng lực</a></div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <app-menu></app-menu>
</header>
