<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <main id="main" class="site-main">
            <article id="post-54" class="post-54 page type-page status-publish hentry">
              <div class="entry-content">
                <app-slide></app-slide>
                <app-dichvu></app-dichvu>
                <app-gioithieu></app-gioithieu>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-event></app-event>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-video></app-video>
                <div class="vc_row-full-width vc_clearfix"></div>

                <app-news></app-news>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848968428 vc_row-has-fill">
                  <div class="section-title clearfix">
                    <h2 class="headline" style="color: white;">Lý do doanh nghiệp lựa chọn Tầm Nhìn Mới làm đối tác</h2>
                    <h2 class="owl-custom-nav-title" style="color: white;text-transform: none;
                    font-size: 14px;">Công ty Tầm Nhìn Mới là công ty chuyên sâu về hoạch định chiến lược, thiết kế nhận diện và truyền thông thương hiệu. 
                        Chúng tôi cung cấp một giải pháp toàn diện giúp doanh nghiệp nâng cao năng lực cạnh tranh thông qua 
                        việc xây dựng thương hiệu mạnh. Chúng tôi tự hào đã và đang tạo ra sức mạnh và sinh khí cho hàng nghìn thương hiệu. 
                        Thông qua đó nỗ lực góp sức mình vào sứ mệnh vì sự phát triển của thương hiệu Việt.</h2>
                    <div class="owl-custom-nav">
                      <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                      <div class="owl-next"><i class="fa fa-angle-right"></i></div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">

                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-counter ">
                          <div class="rtin-left">
                            <div class="rtin-counter" style="color:#ffffff;">
                              <span class="rtin-counter-num" data-num="3" data-rtSpeed="5000" data-rtSteps="10">3</span>
                            </div>
                          </div>
                          <div class="rtin-right">
                            <div class="rtin-title" style="color:#ffffff;">Năm hoạt động</div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-counter ">
                          <div class="rtin-left">
                            <div class="rtin-counter" style="color:#ffffff;">
                              <span class="rtin-counter-num" data-num="30" data-rtSpeed="5000" data-rtSteps="10">30</span>
                            </div>
                          </div>
                          <div class="rtin-right">
                            <div class="rtin-title" style="color:#ffffff;">nhân sự</div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-counter ">
                          <div class="rtin-left">
                            <div class="rtin-counter" style="color:#ffffff;">
                              <span class="rtin-counter-num" data-num="300" data-rtSpeed="5000" data-rtSteps="10">300</span>
                            </div>
                          </div>
                          <div class="rtin-right">
                            <div class="rtin-title" style="color:#ffffff;">Sự kiện mỗi năm</div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-counter ">
                          <div class="rtin-left">
                            <div class="rtin-counter" style="color:#ffffff;">
                              <span class="rtin-counter-num" data-num="277" data-rtSpeed="5000" data-rtSteps="10">30</span>
                            </div>
                          </div>
                          <div class="rtin-right">
                            <div class="rtin-title" style="color:#ffffff;">Dịch vụ cho các tổ chức</div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-customersaid></app-customersaid>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-logo></app-logo>
              </div>
            </article>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>