<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <main id="main" class="site-main">
            <article id="post-54" class="post-54 page type-page status-publish hentry">
              <div class="entry-content">
                <app-slide></app-slide>
                <app-dichvu></app-dichvu>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1515066600956 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-9 vc_col-lg-6 vc_col-md-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-text-title  style3">
                          <h2 class="rtin-title">Chào mừng đến với ngôi nhà của Tầm Nhìn Mới</h2>
                          <p class="rtin-content">
                            <strong>Tmply dummy text of the printing and typesetting industry. Lorem Ipsum has been theindustry&#8217;s
                              standard.
                            </strong>
                          </p>
                          <p>Smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.Smply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry&#8217;s when an unknown printerit to make a type specimen book.</p>
                          <div class="rtin-btn">
                            <a href="#">Xem thêm...</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-6 vc_col-md-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper"></div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-event></app-event>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid campus-tour-1 vc_custom_1515755231129 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-video rt-dark ">
                          <div class="rtin-item">
                            <h2 class="rtin-title">Watch Campus Life Video Tour</h2>
                            <p class="rtin-content">
                              Lorem ipsum text of the printing and typesetting industryorem
                              <br /> ever since industry standard dum an unknowramble
                            </p>
                            <a class="rtin-btn rt-video-popup" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                              <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1508848784627">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-instructor-4 owl-wrap rt-owl-nav-1">
                          <div class="section-title clearfix">
                            <h2 class="owl-custom-nav-title">Our Skilled Instructors</h2>
                            <div class="owl-custom-nav">
                              <div class="owl-prev">
                                <i class="fa fa-angle-left"></i>
                              </div>
                              <div class="owl-next">
                                <i class="fa fa-angle-right"></i>
                              </div>
                            </div>
                          </div>
                          <div class="owl-theme owl-carousel rt-owl-carousel" data-carousel-options="{&quot;nav&quot;:false,&quot;dots&quot;:false,&quot;autoplay&quot;:true,&quot;autoplayTimeout&quot;:&quot;5000&quot;,&quot;autoplaySpeed&quot;:&quot;200&quot;,&quot;autoplayHoverPause&quot;:true,&quot;loop&quot;:true,&quot;margin&quot;:20,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1},&quot;480&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;992&quot;:{&quot;items&quot;:4}}}">
                            <div class="rtin-item">
                              <div class="rtin-img">
                                <a href="//tamnhinmoi.com/lp-profile/daziy/">
                                  <img alt="Admin bar avatar" src="/assets/images/aae5a2de0cadeb007efaf80a83c37742.jpg" class="avatar avatar-360 photo" height="360"
                                    width="360" />
                                </a>
                              </div>
                              <div class="rtin-content">
                                <h3 class="rtin-title">
                                  <a href="//tamnhinmoi.com/lp-profile/daziy/">Daziy Millar</a>
                                </h3>
                                <div class="rtin-designation">PHP Expert</div>
                              </div>
                            </div>
                            <div class="rtin-item">
                              <div class="rtin-img">
                                <a href="//tamnhinmoi.com/lp-profile/rosy/">
                                  <img alt="Admin bar avatar" src="/assets/images/35ec526e55c3f6e4fcc681a665d66b78.jpg" class="avatar avatar-360 photo" height="360"
                                    width="360" />
                                </a>
                              </div>
                              <div class="rtin-content">
                                <h3 class="rtin-title">
                                  <a href="//tamnhinmoi.com/lp-profile/rosy/">Rosy Janner</a>
                                </h3>
                                <div class="rtin-designation">WordPress Ninja</div>
                              </div>
                            </div>
                            <div class="rtin-item">
                              <div class="rtin-img">
                                <a href="//tamnhinmoi.com/lp-profile/david/">
                                  <img alt="Admin bar avatar" src="/assets/images/172522ec1028ab781d9dfd17eaca4427.jpg" class="avatar avatar-360 photo" height="360"
                                    width="360" />
                                </a>
                              </div>
                              <div class="rtin-content">
                                <h3 class="rtin-title">
                                  <a href="//tamnhinmoi.com/lp-profile/david/">David Lee</a>
                                </h3>
                                <div class="rtin-designation">Web Developer</div>
                              </div>
                            </div>
                            <div class="rtin-item">
                              <div class="rtin-img">
                                <a href="//tamnhinmoi.com/lp-profile/mike/">
                                  <img alt="Admin bar avatar" src="/assets/images/18126e7bd3f84b3f3e4df094def5b7de.jpg" class="avatar avatar-360 photo" height="360"
                                    width="360" />
                                </a>
                              </div>
                              <div class="rtin-content">
                                <h3 class="rtin-title">
                                  <a href="//tamnhinmoi.com/lp-profile/mike/">Mike Hussy</a>
                                </h3>
                                <div class="rtin-designation">Android Programmer</div>
                              </div>
                            </div>
                            <div class="rtin-item">
                              <div class="rtin-img">
                                <a href="//tamnhinmoi.com/lp-profile/tom/">
                                  <img alt="Admin bar avatar" src="/assets/images/34b7da764b21d298ef307d04d8152dc5.jpg" class="avatar avatar-360 photo" height="360"
                                    width="360" />
                                </a>
                              </div>
                              <div class="rtin-content">
                                <h3 class="rtin-title">
                                  <a href="//tamnhinmoi.com/lp-profile/tom/">Tom Steven</a>
                                </h3>
                                <div class="rtin-designation">Data Scientist</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848826323 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-posts">
                          <h2 class="rt-vc-title-left">Latest Posts</h2>
                          <div class="rtin-item" style="background-color:#ffffff;">
                            <div class="media media-list">
                              <div class="media-left rtin-img">
                                <a href="//tamnhinmoi.com/summer-course-starts-from-1st-june/">
                                  <img width="150" height="100" src="/assets/images/4-150x100.jpg" class="attachment-rdtheme-size5 size-rdtheme-size5 wp-post-image"
                                    alt="" srcset="/assets/images/4-150x100.jpg 150w, /images/4-150x100@2x.jpg 300w" sizes="(max-width: 150px) 100vw, 150px"
                                  /> </a>
                              </div>
                              <div class="media-body rtin-content-area">
                                <h3>
                                  <a href="//tamnhinmoi.com/summer-course-starts-from-1st-june/">Summer Course Starts From 1st June</a>
                                </h3>
                                <div class="rtin-date">September 14, 2017</div>
                                <p class="rtin-content">Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been&hellip;</p>
                              </div>
                            </div>
                            <div class="media media-list">
                              <div class="media-left rtin-img">
                                <a href="//tamnhinmoi.com/guest-interview-will-occur-soon/">
                                  <img width="150" height="100" src="/assets/images/7-150x100.jpg" class="attachment-rdtheme-size5 size-rdtheme-size5 wp-post-image"
                                    alt="" srcset="/assets/images/7-150x100.jpg 150w, /images/7-150x100@2x.jpg 300w" sizes="(max-width: 150px) 100vw, 150px"
                                  /> </a>
                              </div>
                              <div class="media-body rtin-content-area">
                                <h3>
                                  <a href="//tamnhinmoi.com/guest-interview-will-occur-soon/">Guest Interview will Occur Soon in the Auditorium About Artificial Intelligence</a>
                                </h3>
                                <div class="rtin-date">September 14, 2017</div>
                                <p class="rtin-content">Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been&hellip;</p>
                              </div>
                            </div>
                            <div class="media media-list">
                              <div class="media-left rtin-img">
                                <a href="//tamnhinmoi.com/new-exam-schedules-for-diploma/">
                                  <img width="150" height="100" src="/assets/images/2-150x100.jpg" class="attachment-rdtheme-size5 size-rdtheme-size5 wp-post-image"
                                    alt="" srcset="/assets/images/2-150x100.jpg 150w, /images/2-150x100@2x.jpg 300w" sizes="(max-width: 150px) 100vw, 150px"
                                  /> </a>
                              </div>
                              <div class="media-body rtin-content-area">
                                <h3>
                                  <a href="//tamnhinmoi.com/new-exam-schedules-for-diploma/">New Exam Schedules for Diploma</a>
                                </h3>
                                <div class="rtin-date">September 14, 2017</div>
                                <p class="rtin-content">Dimply dummy text of the printing and typesetting industry. Lorem Ipsum has been&hellip;</p>
                              </div>
                            </div>
                          </div>
                          <div class="rtin-btn">
                            <a href="//tamnhinmoi.com/news/" class="rdtheme-button-6">VIEW ALL</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-event">
                          <h2 class="rt-vc-title-left">Upcoming Events</h2>
                          <div class="media rtin-item" style="background-color:#ffffff">
                            <div class="media-left rtin-calender-holder">
                              <div class="rtin-calender">
                                <h3>18</h3>
                                <p>Oct</p>
                                <span>2019</span>
                              </div>
                            </div>
                            <div class="media-body rtin-right">
                              <h3>
                                <a href="//tamnhinmoi.com/event/basis-international-award-night/">BASIS International Award Night</a>
                              </h3>
                              <p class="rtin-content">Bimply dummy text of the printing and typesetting istryrem Ipsum has been the industry&#8217;s
                                standard dummy text ever since the 1500s, when an unknown printer.when an unknown printer
                                took a galley of type and scrambled&hellip;</p>
                              <ul>
                                <li class="rtin-time">07:00 - 10:00</li>
                                <li class="rtin-location">Melbourne, Australia</li>
                              </ul>
                            </div>
                          </div>
                          <div class="media rtin-item" style="background-color:#ffffff">
                            <div class="media-left rtin-calender-holder">
                              <div class="rtin-calender">
                                <h3>19</h3>
                                <p>Oct</p>
                                <span>2019</span>
                              </div>
                            </div>
                            <div class="media-body rtin-right">
                              <h3>
                                <a href="//tamnhinmoi.com/event/ted-talks-at-ucf-college-of-education/">TED Talks at UCF College</a>
                              </h3>
                              <p class="rtin-content">Bimply dummy text of the printing and typesetting istryrem Ipsum has been the industry&#8217;s
                                standard dummy text ever since the 1500s, when an unknown printer.when an unknown printer
                                took a galley of type and scrambled&hellip;</p>
                              <ul>
                                <li class="rtin-time">08:00 - 11:00</li>
                                <li class="rtin-location">Brisbane, Australia</li>
                              </ul>
                            </div>
                          </div>
                          <div class="rtin-btn">
                            <a href="#" class="rdtheme-button-6">VIEW ALL</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848968428 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-counter ">
                          <div class="rtin-left">
                            <div class="rtin-counter" style="color:#ffffff;">
                              <span class="rtin-counter-num" data-num="50" data-rtSpeed="5000" data-rtSteps="10">50</span>
                            </div>
                          </div>
                          <div class="rtin-right">
                            <div class="rtin-title" style="color:#ffffff;">PROFESSIONAL INSTRUCTORS</div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-counter ">
                          <div class="rtin-left">
                            <div class="rtin-counter" style="color:#ffffff;">
                              <span class="rtin-counter-num" data-num="87" data-rtSpeed="5000" data-rtSteps="10">87</span>
                            </div>
                          </div>
                          <div class="rtin-right">
                            <div class="rtin-title" style="color:#ffffff;">NEW COURSES EVERY YEAR</div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-counter ">
                          <div class="rtin-left">
                            <div class="rtin-counter" style="color:#ffffff;">
                              <span class="rtin-counter-num" data-num="25" data-rtSpeed="5000" data-rtSteps="10">25</span>
                            </div>
                          </div>
                          <div class="rtin-right">
                            <div class="rtin-title" style="color:#ffffff;">LIVE SESSIONS EVERY MONTH</div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-counter ">
                          <div class="rtin-left">
                            <div class="rtin-counter" style="color:#ffffff;">
                              <span class="rtin-counter-num" data-num="277" data-rtSpeed="5000" data-rtSteps="10">277</span>
                            </div>
                          </div>
                          <div class="rtin-right">
                            <div class="rtin-title" style="color:#ffffff;">REGISTERED STUDENTS</div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1508849149992">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-title style1">
                          <div class="vc_custom_1508849702754">
                            <h2 style="font-size:30px;">What Our Students Say</h2>
                          </div>
                        </div>
                        <div class="rt-vc-testimonial">
                          <div class="owl-theme owl-carousel rt-owl-carousel" data-carousel-options="{&quot;nav&quot;:false,&quot;dots&quot;:true,&quot;autoplay&quot;:true,&quot;autoplayTimeout&quot;:&quot;5000&quot;,&quot;autoplaySpeed&quot;:&quot;200&quot;,&quot;autoplayHoverPause&quot;:true,&quot;loop&quot;:true,&quot;margin&quot;:30,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1},&quot;480&quot;:{&quot;items&quot;:2}}}">
                            <div class="rt-item">
                              <div class="rt-item-img">
                                <img width="92" height="92" src="/assets/images/user7-92x92.jpg" class="img-circle wp-post-image" alt="" srcset="/assets/images/user7-92x92.jpg 92w, assets/images/user7-150x150.jpg 150w, assets/images/user7-150x150@2x.jpg 300w, assets/images/user7-100x100.jpg 100w, /images/user7-92x92@2x.jpg 184w, /images/user7-100x100@2x.jpg 200w"
                                  sizes="(max-width: 92px) 100vw, 92px" />
                              </div>
                              <div class="rt-item-content-holder">
                                <h3 class="rt-item-title">Tony Walker</h3>
                                <span class="rt-item-designation">Apps Developer</span>
                                <p class="rt-item-content">I thoroughly enjoyed courses from here and hope to expand on my gained knowledge about making
                                  apps. The courses as well as the examples are well presented, easy to follow and engaging.</p>
                              </div>
                            </div>
                            <div class="rt-item">
                              <div class="rt-item-img">
                                <img width="92" height="92" src="/assets/images/user9-92x92.jpg" class="img-circle wp-post-image" alt="" srcset="/assets/images/user9-92x92.jpg 92w, assets/images/user9-150x150.jpg 150w, assets/images/user9-150x150@2x.jpg 300w, assets/images/user9-100x100.jpg 100w, assets/images/user9-92x92@2x.jpg 184w, assets/images/user9-100x100@2x.jpg 200w"
                                  sizes="(max-width: 92px) 100vw, 92px" />
                              </div>
                              <div class="rt-item-content-holder">
                                <h3 class="rt-item-title">Martin Brian</h3>
                                <span class="rt-item-designation">UI Designer</span>
                                <p class="rt-item-content">The courses here exceeded my expectations in many regards, especially in the depth of information
                                  supplied. In a very non-threatening environment, I learned key principles of design that
                                  I can implement immediately.</p>
                              </div>
                            </div>
                            <div class="rt-item">
                              <div class="rt-item-img">
                                <img width="92" height="92" src="/assets/images/user8-92x92.jpg" class="img-circle wp-post-image" alt="" srcset="/assets/images/user8-92x92.jpg 92w, /images/user8-150x150.jpg 150w, /images/user8-150x150@2x.jpg 300w,  /assets/images/user8-100x100.jpg 100w, /assets/images/user8-92x92@2x.jpg 184w, /assets/images/user8-100x100@2x.jpg 200w"
                                  sizes="(max-width: 92px) 100vw, 92px" />
                              </div>
                              <div class="rt-item-content-holder">
                                <h3 class="rt-item-title">David Fahim</h3>
                                <span class="rt-item-designation">Web Developer</span>
                                <p class="rt-item-content">Excellent content and assignments that build on your knowledge, reinforce, and then expand.
                                  I recently secured new employment using PHP and couldn&#039;t have done so without the
                                  Professional Web Development courses.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508849313217 vc_row-has-fill">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-cta  style1">
                          <div class="rtin-left">
                            <img width="819" height="330" src="/assets/images/all.jpg" class="img-responsive" alt="" />
                          </div>
                          <div class="rtin-right">
                            <h2>Join 29,12,093 Students.</h2>
                            <a class="rtin-btn" href="#">JOIN NOW</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1508915762011">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rt-vc-logo-slider">
                          <div class="owl-theme owl-carousel rt-owl-carousel" data-carousel-options="{&quot;nav&quot;:false,&quot;dots&quot;:false,&quot;autoplay&quot;:true,&quot;autoplayTimeout&quot;:&quot;5000&quot;,&quot;autoplaySpeed&quot;:&quot;200&quot;,&quot;autoplayHoverPause&quot;:true,&quot;loop&quot;:true,&quot;margin&quot;:20,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:2},&quot;480&quot;:{&quot;items&quot;:3},&quot;768&quot;:{&quot;items&quot;:4},&quot;992&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}}}">
                            <div class="rtin-item">
                              <img width="270" height="130" src="/assets/images/2-1.jpg" class="attachment-270x130 size-270x130" alt="" />
                            </div>
                            <div class="rtin-item">
                              <img width="270" height="130" src="/assets/images/3-1.jpg" class="attachment-270x130 size-270x130" alt="" />
                            </div>
                            <div class="rtin-item">
                              <img width="270" height="130" src="/assets/images/4-1.jpg" class="attachment-270x130 size-270x130" alt="" />
                            </div>
                            <div class="rtin-item">
                              <img width="270" height="130" src="/assets/images/1-2.jpg" class="attachment-270x130 size-270x130" alt="" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
