<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <main id="main" class="site-main">
            <article id="post-54" class="post-54 page type-page status-publish hentry">
              <div class="entry-content">
                <app-slide></app-slide>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-gioithieu></app-gioithieu>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-dichvu></app-dichvu>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-lydochon></app-lydochon>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-nguoi-sang-lap></app-nguoi-sang-lap>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-event></app-event>
                <div class="vc_row-full-width vc_clearfix"></div>
                <!-- <app-video></app-video>
                <div class="vc_row-full-width vc_clearfix"></div> -->
                <app-news></app-news>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-customersaid></app-customersaid>
                <div class="vc_row-full-width vc_clearfix"></div>
                <app-logo></app-logo>
              </div>
            </article>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
