.rt-vc-counter .rtin-left .rtin-counter {
  border-bottom-color: #ca0000;
}
.vc_custom_1510749598354 {
  padding-top: 50px !important;
  padding-bottom: 20px !important;
  background-color: #f8f8f8 !important;
  z-index: 1;
}

.vc_column_container {
  z-index: 2;
}
#divConSo{
  position: relative;
  left: -206.5px;
  box-sizing: border-box;
  width: 1583px;
  padding-left: 206.5px;
  padding-right: 206.5px;
  background: #eaeaea;
  background-image: none !important;
}
.rt-vc-counter .rtin-left .rtin-counter {
  color: #ca0000;

}
.rt-vc-counter .rtin-right .rtin-title {
  color: #ca0000;
}
@media only screen and (max-width : 1024px)  {
.rt-vc-counter {
  display: block;
    text-align: center;
}
.rt-vc-counter[_ngcontent-c5] .rtin-left[_ngcontent-c5] .rtin-counter[_ngcontent-c5] {
  margin-bottom: 15px;
}
}
