<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1510749598354 vc_row-has-fill"
  style="position: relative; left: -206.5px; box-sizing: border-box; width: 1583px; padding-left: 206.5px; padding-right: 206.5px;">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-title style1">
          <div>
            <h2 style="text-transform: none">Lý do lựa chọn Tầm Nhìn Mới làm đối tác</h2>
            <p class="rtin-subtitle" style="">Công ty Tầm Nhìn Mới là công ty chuyên sâu về hoạch định chiến lược, thiết kế nhận diện và truyền thông thương
              hiệu. Chúng tôi cung cấp một giải pháp toàn diện giúp doanh nghiệp nâng cao năng lực cạnh tranh thông qua việc
              xây dựng thương hiệu mạnh. Chúng tôi tự hào đã và đang tạo ra sức mạnh và sinh khí cho hàng nghìn thương hiệu.
              Thông qua đó nỗ lực góp sức mình vào sứ mệnh vì sự phát triển của thương hiệu Việt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848968428 vc_row-has-fill">
  <div class="overlay" ></div>
  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">

    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-counter ">
          <div class="rtin-left">
            <div class="rtin-counter" style="color:#ffffff;">
              <span class="rtin-counter-num" data-num="3" data-rtSpeed="5000" data-rtSteps="10">3</span>
            </div>
          </div>
          <div class="rtin-right">
            <div class="rtin-title" style="color:#ffffff;">Năm hoạt động</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-counter ">
          <div class="rtin-left">
            <div class="rtin-counter" style="color:#ffffff;">
              <span class="rtin-counter-num" data-num="30" data-rtSpeed="5000" data-rtSteps="10">30</span>
            </div>
          </div>
          <div class="rtin-right">
            <div class="rtin-title" style="color:#ffffff;">nhân sự</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-counter ">
          <div class="rtin-left">
            <div class="rtin-counter" style="color:#ffffff;">
              <span class="rtin-counter-num" data-num="300" data-rtSpeed="5000" data-rtSteps="10">300</span>
            </div>
          </div>
          <div class="rtin-right">
            <div class="rtin-title" style="color:#ffffff;">Sự kiện mỗi năm</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-counter ">
          <div class="rtin-left">
            <div class="rtin-counter" style="color:#ffffff;">
              <span class="rtin-counter-num" data-num="277" data-rtSpeed="5000" data-rtSteps="10">30</span>
            </div>
          </div>
          <div class="rtin-right">
            <div class="rtin-title" style="color:#ffffff;">Dịch vụ cho các tổ chức</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
