.rt-vc-counter .rtin-left .rtin-counter {
  border-bottom-color: #ca0000;
}
.vc_custom_1510749598354 {
  padding-top: 50px !important;
  padding-bottom: 20px !important;
  background-color: #f8f8f8 !important;
  z-index: 1;
}

.vc_column_container {
  z-index: 2;
}
