<div  data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1510749598354 vc_row-has-fill divLogo"
  style="position: relative; left: -206.5px; box-sizing: border-box; width: 1583px; padding-left: 206.5px; padding-right: 206.5px;">
  <div class="bgFooter"></div>
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner" class="logobg">
      <div class="wpb_wrapper">
          <h2  >Đối tác chiến lược</h2>

          <div class="rt-vc-logo-slider">
            <div class="owl-carousel owl-item owl-carousel-item " [attr.id]="'logodoitac'">
              <div class="rtin-item" *ngFor="let item of ListData">
                <img src="{{BASE_URL_MEDIA + item.ImageUrl}}" style=" height: 130 !important;width: 270 !important;"
                  class=" grayscale attachment-270x130 size-270x130" alt="" />
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>