<div class="vc_row wpb_row vc_row-fluid vc_custom_1508915762011">
  <div class="wpb_column vc_column_container vc_col-sm-12">


    <div class="vc_column-inner">
      <div class="wpb_wrapper" id="owl-clients">
        <h2 _ngcontent-c4="" class="rt-vc-title-left">Logo đối tác</h2>

        <div class="rt-vc-logo-slider">
          <div class="owl-carousel owl-item owl-carousel-item " [attr.id]="'logodoitac'">
            <div class="rtin-item" *ngFor="let item of ListData">
              <img src="{{BASE_URL_MEDIA + item.ImageUrl}}" style=" height: 130 !important;width: 270 !important;"
                class=" grayscale attachment-270x130 size-270x130" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>