
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid campus-tour-1 vc_custom_1515755231129 vc_row-has-fill">
    <!-- <div class="overlay"></div> -->
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="rt-vc-video rt-dark ">
          <div class="rtin-item">
            <h2 class="rtin-title">Watch Campus Life Video Tour</h2>
            <p class="rtin-content">
              Lorem ipsum text of the printing and typesetting industryorem
              <br /> ever since industry standard dum an unknowramble
            </p>
            <a class="rtin-btn rt-video-popup" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
              <i class="fa fa-play" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
