<div id="content" class="site-content">
  <div class="new-title">
    <div class="container">
      <div class="entry-banner-content">
        <h1 class="entry-title" *ngIf="ObjNew" style="color:white">{{ObjNew.Title}}</h1>
        <div class="breadcrumb-area" *ngIf="ObjCate">
          <div class="entry-breadcrumb">
            <span property="itemListElement" typeof="ListItem">
              <a property="item" typeof="WebPage" title="Go to Eikra." href="/" class="home">
                <span property="name">Trang chủ</span>
              </a>
              <meta property="position" content="1">
            </span>
            <span class="breadcrumb-seperator"> / </span>
            <span property="itemListElement" typeof="ListItem">
              <a property="item" typeof="WebPage" title="Go to News." routerLink="/list/{{ObjCate.CategoryID}}"
                class="post-root post post-post">
                <span property="name">{{ObjCate && ObjCate.CategoryName}}</span>
              </a>
              <meta property="position" content="2">
            </span>
            <span class="breadcrumb-seperator"> / </span>
            <span property="itemListElement" typeof="ListItem">
              <span property="name" *ngIf="ObjNew">{{ObjNew.Title}}</span>
              <meta property="position" content="3">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="primary" class="content-area" *ngIf="ObjNew">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-xs-12">
          <main id="main" class="site-main">
            <div id="post-39" class="post-each post-39 post type-post status-publish format-standard has-post-thumbnail hentry category-cse category-gmat tag-bba tag-mba">
              <div class="entry-header">
                <div class="entry-thumbnail-area">
                  <img width="1200" height="600" src="{{BASE_URL_MEDIA + ObjNew.ImageUrl}}" style="width: 100%; ">
                  <ul class="post-date">
                    <li>{{ObjNew.PublishTime | formatDateTime}}</li>
                  </ul>
                </div>
              </div>
              <div class="entry-content" [innerHtml]="ObjNew.Content |replaceContent| safeHtml">
              </div>
            </div>
          </main>
        </div>
        <app-other-news></app-other-news>
      </div>
    </div>
  </div>
</div>
