.site-header .main-navigation ul li.mega-menu>ul.sub-menu>li {
  width: auto !important;
}

.rt-info-box .media-heading a:hover, .rt-info-box.layout2:hover i, .rt-info-box.layout5 .rtin-icon i, .rt-info-box.layout5:hover .media-heading, .rt-info-box.layout6:hover .media-heading a {
  color: #f91111;
}

a:hover, a:focus, a:active, .entry-header h2.entry-title a:hover, .entry-header h2.entry-title a:hover, .entry-header .entry-meta ul li i, .event-single .event-meta li i {
  color: #f91111;
}

#tophead {
  background-color: #ca0000;
}

#preloader {
  background-color: #ca0000;
}

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner {
  padding-top: 0px !important;
}

.owl-nav {
  display: none;
}

.site-header .main-navigation ul li.mega-menu>ul.sub-menu {
  background-color: transparent;
}

.site-header .main-navigation ul li.mega-menu ul.sub-menu li {
  background-color: transparent;
  width: 99% !important;
}

.site-header .main-navigation ul li.mega-menu ul.sub-menu li a:hover {
  background-color: #ca0000;
  color: #fdc800;
}

.site-header .parent.sub-menu {
  background-color: #000000d4 !important;
}

.topbar-style-4 #tophead a.topbar-btn {
  background-color: #ff4f4f;
  border: none;
  color: #ffffff;
  margin: 2px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(#ff5858, #630000);
  background-image: -o-linear-gradient(#ff5858, #630000);
  background-image: -moz-linear-gradient(#ff5858, #630000);
  background-image: linear-gradient(#ff5858, #630000);
}

#tophead .tophead-contact .fa, #tophead .tophead-address .fa {
  color: #d20000;
}

.rt-vc-text-title.style3 .rtin-btn a {
  background-color: #e10000;
  background-image: linear-gradient(#e10000, #b10000);
  color: white;
}

#tophead a {
  color: #ffffff !important;
}

.scrollToTop {
  background-color: #b10000;
  background-image: linear-gradient(#e10000, #b10000);
}

h2 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.footer-top-area {
  background-color: #002147;
  background-image: linear-gradient(#666666, #222121);
}

.footer-bottom-area {
  background-color: #000000;
  color: #909da4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #ce0a17;
  opacity: 0.5;
}

.container.masthead-container:nth-child(2) {
  display: none;
}

.vc_custom_1508848968428 {
  padding-top: 37px !important;
  padding-bottom: 35px !important;
  background-image: none!important;
  background: #ba1e24;
  ;
}

#divCustomerSaid .current .circle {
  width: 250px;
  height: 250px;
  background-size: 250px 250px !important;
  margin-top: 50px;
  text-align: center;
}

#divCustomerSaid .current .divCircle {
  width: 140px;
  margin: 0 auto;
}

h2 {
  color: #ca0000;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(235, 2, 2, 0.75);
  background-color: rgba(235, 2, 2, 0.75);
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(235, 2, 2, 0.75);
  background-color: rgba(235, 2, 2, 0.75);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(235, 2, 2, 0.75);
  background-color: rgba(235, 2, 2, 0.75);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
}

.new-title {
  padding: 28px 0px;
  background: #8e0000;
}
.new-title h1 {
 color: white;
}
.list-group-item{
	border: none;
	padding: 0px !important;
}

.louis-list-item{
	height: 70px;
}
.louis-list-item img{
	width: 80px;
	float: left;
	margin-right: 10px;
	/*height: 56px; */
	height: 52px;
}
.louis-list-item p{
	font-size: 12px;

}
.louis-list-item a{
	color: #384776;
	font-weight: bold;
	margin-top: -5px;
	position: relative;
	top: -5px;
}

.louis-list-item .time{
	margin-top: -5px;
	display: block;
}

.louis-list-category{
	padding: 5px;
	margin-bottom: 3px;
}

.louis-list-category a{
	color: #052251;
	font-weight: bold;
	padding: 10px 30px;
	display: block;
	background: #F5F5F5;
}

#category-news{
	border: none;
}

#category-news .panel-body{
	padding: 0px;
}

#category-news .active{
	/*border-left: 4px solid #F0AF09;*/
}

.louis-list-video{
	background: #f5f5f5;
}

.louis-list-video p{
	text-align: center;
	background: #f5f5f5;
	padding: 8px;
	font-weight: bold;
	margin-bottom: 0px;
}
.louis-list-tags{
	float: left;
}
.louis-list-tags a{
	color: #384776;
	padding: 3px;
	border: 1px solid #928e8e;
	margin-right: 5px;
	margin-bottom: 10px;
	display: block;

}

a.page-link{
	margin-right: 5px;
	border:  1px solid #231F4C !important;
}
#search {
    background: #052251;
    color: #fff;
    height: 40px;
    border: none;
}
.form-louis{
	margin-bottom: 20px;
}
.description {
    margin-top: 30px;
  /*  width: 650px; */
    text-align: justify;
}

.description p img{
	margin: 0 auto;
	display: block;
}

.news-description-detail{
	border: 1px solid #dfdfdf;
/*	width: 690px; */
	padding: 0 20px;

}

.title-louis-3{
	font-size: 1.5em;
    padding: 20px 10px;
    line-height: 1.6em;
}

.news-description-detail .description{
	margin-top: 10px;
}

.news-heading-detail{
	border: 1px solid #dfdfdf;
	padding: 0 20px 15px;
	background: #f4f4f4;
	margin-bottom: 20px;
}

.share-mxh{
	margin-top: 20px;
}
#latest-news{
	border: 1px solid #dfdfdf;
    margin: 20px 0px;
    padding: 0px 0px 20px 0px;
}
#latest-news .content-louis a img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#latest-news a.img-href{
	    color: #1D1945;
    height: 125px;
    overflow: hidden;
    display: block;
}

#latest-news a.title-href{
	    color: #05235F;
	    font-weight: bold;
		margin: 10px 0px;
		display: block;
}

#latest-news div.date{
	    color: #b6b9b9;

}

.news-description a.cover-crop{
	height: 250px;
	overflow: hidden;
	display: block;
}

.news-description .cover{
	/*height: 250px; */
	width: 100%;
}

/* end news */
.widget.widget_rdtheme_about ul li a:hover {
  background-color: #ca0000;
  border-color: #ca0000;
  color: #fff;
}
