<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848182497 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="rt-vc-course-slider owl-wrap rt-owl-nav-1 style-3">
                    <div class="section-title clearfix">
                        <h2 class="owl-custom-nav-title">Sự kiện đã diễn ra</h2>
                    </div>
                    <div class="owl-carousel owl-item owl-carousel-item owl-theme owl-drag" [attr.id]="'prodctowlcarousel'">
                        <div *ngFor="let item of ListData;">
                                <div class="rt-course-box-3 post-200 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-programming course_category-technology course_tag-android course_tag-javascript course">
                                        <div class=""> 
                                            <img src="{{BASE_URL_MEDIA + item.ImageUrl}}" /> 
                                            <!-- <div class="rtin-price">{{item.PublishTime}}</div> -->
                                        </div>
                                        <div class="rtin-content-wrap">
                                            <div class="rtin-content">
                                                <h3 class="rtin-title"><a href="https://radiustheme.com/demo/wordpress/eikra/courses/learn-php-programming-from-scratch/" title="Learn PHP Programming From Scratch">{{item.Title}}</a></h3>
                                                <div class="rtin-description">{{item.Description}}</div>
                                            </div>
                                            <div class="rtin-meta clearfix">
                                                <div class="rtin-left pull-left">
                                                    <div class="review-stars-rated" title="4.5 out of 5 stars">
                                                        <div class="review-stars empty"></div>
                                                        <div class="review-stars filled" style="width:90%;"></div>
                                                    </div>
                                                </div>
                                                <div class="rtin-right pull-right">
                                                    <div class="rt-wishlist-icon"><span data-toggle="modal" data-target="#rt-wishlist-modal" class="fa fa-heart" title="Add this course to your wishlist"></span></div> <i class="fa fa-users" aria-hidden="true"></i><span>2</span></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>