<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1508848182497 vc_row-has-fill">
  <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
          <div class="wpb_wrapper">
              <div class="rt-vc-course-slider owl-wrap rt-owl-nav-1 style-3">
                  <div class="section-title clearfix">
                      <h2 class="owl-custom-nav-title">Sự kiện đã diễn ra</h2>
                      <div class="owl-custom-nav">
                          <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
                          <div class="owl-next"><i class="fa fa-angle-right"></i></div>
                      </div>
                  </div>
                  <div class="owl-theme owl-carousel rt-owl-carousel" data-carousel-options="{&quot;nav&quot;:false,&quot;dots&quot;:false,&quot;autoplay&quot;:true,&quot;autoplayTimeout&quot;:&quot;5000&quot;,&quot;autoplaySpeed&quot;:&quot;200&quot;,&quot;autoplayHoverPause&quot;:true,&quot;loop&quot;:true,&quot;margin&quot;:20,&quot;responsive&quot;:{&quot;0&quot;:{&quot;items&quot;:1},&quot;480&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:2},&quot;992&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:4}}}">
                      <div class="rt-course-box-3 post-200 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-programming course_category-technology course_tag-android course_tag-javascript course">
                          <div class="rtin-thumbnail hvr-bounce-to-right">
                              <img width="410" height="260" src="/assets/images/4-410x260.jpg" class="attachment-rdtheme-size2 size-rdtheme-size2 wp-post-image" alt="" srcset="/assets/images/4-410x260.jpg 410w, /images/4-410x260@2x.jpg 820w" sizes="(max-width: 410px) 100vw, 410px" /> <a href="//tamnhinmoi.com/courses/learn-php-programming-from-scratch/" title="Learn PHP Programming From Scratch"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <div class="rtin-price">Free</div>
                          </div>
                          <div class="rtin-content-wrap">
                              <div class="rtin-content">
                                  <h3 class="rtin-title"><a href="//tamnhinmoi.com/courses/learn-php-programming-from-scratch/" title="Learn PHP Programming From Scratch">Learn PHP Programming From Scratch</a></h3>
                                  <div class="rtin-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,&hellip;</div>
                              </div>
                              <div class="rtin-meta clearfix">
                                  <div class="rtin-left pull-left">
                                      <a class="rtin-author" href="//tamnhinmoi.com/lp-profile/tom/"><img alt="Admin bar avatar" src="/assets/images/34b7da764b21d298ef307d04d8152dc5.jpg" class="avatar avatar-40 photo" height="40" width="40" /><span>Tom Steven</span></a>
                                      <div class="review-stars-rated" title="4.5 out of 5 stars">
                                          <div class="review-stars empty"></div>
                                          <div class="review-stars filled" style="width:90%;"></div>
                                      </div>
                                  </div>
                                  <div class="rtin-right pull-right">
                                      <div class="rt-wishlist-icon"><span data-toggle="modal" data-target="#rt-wishlist-modal" class="fa fa-heart" title="Add this course to your wishlist"></span></div>
                                      <i class="fa fa-users" aria-hidden="true"></i><span>2</span>
                                  </div>
                              </div>
                          </div>
                          <div class="clear"></div>
                      </div>
                      <div class="rt-course-box-3 post-715 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-technology course_category-web-development course_tag-android course_tag-javascript course">
                          <div class="rtin-thumbnail hvr-bounce-to-right">
                              <img width="410" height="260" src="/assets/images/6-410x260.jpg" class="attachment-rdtheme-size2 size-rdtheme-size2 wp-post-image" alt="" srcset="/assets/images/6-410x260.jpg 410w, /images/6-410x260@2x.jpg 820w" sizes="(max-width: 410px) 100vw, 410px" /> <a href="//tamnhinmoi.com/courses/learning-python-for-data-analysis-and-visualization/" title="Learning Python for Data Analysis and Visualization"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <div class="rtin-price">&#36;39.00</div>
                          </div>
                          <div class="rtin-content-wrap">
                              <div class="rtin-content">
                                  <h3 class="rtin-title"><a href="//tamnhinmoi.com/courses/learning-python-for-data-analysis-and-visualization/" title="Learning Python for Data Analysis and Visualization">Learning Python for Data Analysis and Visualization</a></h3>
                                  <div class="rtin-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,&hellip;</div>
                              </div>
                              <div class="rtin-meta clearfix">
                                  <div class="rtin-left pull-left">
                                      <a class="rtin-author" href="//tamnhinmoi.com/lp-profile/daziy/"><img alt="Admin bar avatar" src="/assets/images/aae5a2de0cadeb007efaf80a83c37742.jpg" class="avatar avatar-40 photo" height="40" width="40" /><span>Daziy Millar</span></a>
                                      <div class="review-stars-rated" title="0 out of 5 stars">
                                          <div class="review-stars empty"></div>
                                          <div class="review-stars filled" style="width:0%;"></div>
                                      </div>
                                  </div>
                                  <div class="rtin-right pull-right">
                                      <div class="rt-wishlist-icon"><span data-toggle="modal" data-target="#rt-wishlist-modal" class="fa fa-heart" title="Add this course to your wishlist"></span></div>
                                      <i class="fa fa-users" aria-hidden="true"></i><span>0</span>
                                  </div>
                              </div>
                          </div>
                          <div class="clear"></div>
                      </div>
                      <div class="rt-course-box-3 post-690 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-programming course_category-web-development course_tag-android course_tag-javascript course">
                          <div class="rtin-thumbnail hvr-bounce-to-right">
                              <img width="410" height="260" src="/assets/images/15-410x260.jpg" class="attachment-rdtheme-size2 size-rdtheme-size2 wp-post-image" alt="" srcset="/assets/images/15-410x260.jpg 410w, /images/15-410x260@2x.jpg 820w" sizes="(max-width: 410px) 100vw, 410px" /> <a href="//tamnhinmoi.com/courses/build-a-full-web-chat-app-from-scratch/" title="Build A Full Web Chat App From Scratch"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <div class="rtin-price">&#36;93.00</div>
                          </div>
                          <div class="rtin-content-wrap">
                              <div class="rtin-content">
                                  <h3 class="rtin-title"><a href="//tamnhinmoi.com/courses/build-a-full-web-chat-app-from-scratch/" title="Build A Full Web Chat App From Scratch">Build A Full Web Chat App From Scratch</a></h3>
                                  <div class="rtin-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,&hellip;</div>
                              </div>
                              <div class="rtin-meta clearfix">
                                  <div class="rtin-left pull-left">
                                      <a class="rtin-author" href="//tamnhinmoi.com/lp-profile/mike/"><img alt="Admin bar avatar" src="/assets/images/18126e7bd3f84b3f3e4df094def5b7de.jpg" class="avatar avatar-40 photo" height="40" width="40" /><span>Mike Hussy</span></a>
                                      <div class="review-stars-rated" title="0 out of 5 stars">
                                          <div class="review-stars empty"></div>
                                          <div class="review-stars filled" style="width:0%;"></div>
                                      </div>
                                  </div>
                                  <div class="rtin-right pull-right">
                                      <div class="rt-wishlist-icon"><span data-toggle="modal" data-target="#rt-wishlist-modal" class="fa fa-heart" title="Add this course to your wishlist"></span></div>
                                      <i class="fa fa-users" aria-hidden="true"></i><span>0</span>
                                  </div>
                              </div>
                          </div>
                          <div class="clear"></div>
                      </div>
                      <div class="rt-course-box-3 post-665 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-programming course_category-technology course_tag-android course_tag-javascript course">
                          <div class="rtin-thumbnail hvr-bounce-to-right">
                              <img width="410" height="260" src="/assets/images/13-410x260.jpg" class="attachment-rdtheme-size2 size-rdtheme-size2 wp-post-image" alt="" srcset="/assets/images/13-410x260.jpg 410w, /images/13-410x260@2x.jpg 820w" sizes="(max-width: 410px) 100vw, 410px" /> <a href="//tamnhinmoi.com/courses/master-microservices-with-spring-boot-and-spring-cloud/" title="Master Microservices with Spring Boot and Cloud"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <div class="rtin-price">&#36;51.00</div>
                          </div>
                          <div class="rtin-content-wrap">
                              <div class="rtin-content">
                                  <h3 class="rtin-title"><a href="//tamnhinmoi.com/courses/master-microservices-with-spring-boot-and-spring-cloud/" title="Master Microservices with Spring Boot and Cloud">Master Microservices with Spring Boot and Cloud</a></h3>
                                  <div class="rtin-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,&hellip;</div>
                              </div>
                              <div class="rtin-meta clearfix">
                                  <div class="rtin-left pull-left">
                                      <a class="rtin-author" href="//tamnhinmoi.com/lp-profile/rosy/"><img alt="Admin bar avatar" src="/assets/images/35ec526e55c3f6e4fcc681a665d66b78.jpg" class="avatar avatar-40 photo" height="40" width="40" /><span>Rosy Janner</span></a>
                                      <div class="review-stars-rated" title="0 out of 5 stars">
                                          <div class="review-stars empty"></div>
                                          <div class="review-stars filled" style="width:0%;"></div>
                                      </div>
                                  </div>
                                  <div class="rtin-right pull-right">
                                      <div class="rt-wishlist-icon"><span data-toggle="modal" data-target="#rt-wishlist-modal" class="fa fa-heart" title="Add this course to your wishlist"></span></div>
                                      <i class="fa fa-users" aria-hidden="true"></i><span>0</span>
                                  </div>
                              </div>
                          </div>
                          <div class="clear"></div>
                      </div>
                      <div class="rt-course-box-3 post-640 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-programming course_category-web-development course_tag-android course_tag-javascript course">
                          <div class="rtin-thumbnail hvr-bounce-to-right">
                              <img width="410" height="260" src="/assets/images/12-410x260.jpg" class="attachment-rdtheme-size2 size-rdtheme-size2 wp-post-image" alt="" srcset="/assets/images/12-410x260.jpg 410w, /images/12-410x260@2x.jpg 820w" sizes="(max-width: 410px) 100vw, 410px" /> <a href="//tamnhinmoi.com/courses/the-complete-javascript-course-beginner-to-advanced/" title="The Complete JavaScript Course for Beginner"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <div class="rtin-price">&#36;89.00</div>
                          </div>
                          <div class="rtin-content-wrap">
                              <div class="rtin-content">
                                  <h3 class="rtin-title"><a href="//tamnhinmoi.com/courses/the-complete-javascript-course-beginner-to-advanced/" title="The Complete JavaScript Course for Beginner">The Complete JavaScript Course for Beginner</a></h3>
                                  <div class="rtin-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,&hellip;</div>
                              </div>
                              <div class="rtin-meta clearfix">
                                  <div class="rtin-left pull-left">
                                      <a class="rtin-author" href="//tamnhinmoi.com/lp-profile/david/"><img alt="Admin bar avatar" src="/assets/images/172522ec1028ab781d9dfd17eaca4427.jpg" class="avatar avatar-40 photo" height="40" width="40" /><span>David Lee</span></a>
                                      <div class="review-stars-rated" title="0 out of 5 stars">
                                          <div class="review-stars empty"></div>
                                          <div class="review-stars filled" style="width:0%;"></div>
                                      </div>
                                  </div>
                                  <div class="rtin-right pull-right">
                                      <div class="rt-wishlist-icon"><span data-toggle="modal" data-target="#rt-wishlist-modal" class="fa fa-heart" title="Add this course to your wishlist"></span></div>
                                      <i class="fa fa-users" aria-hidden="true"></i><span>0</span>
                                  </div>
                              </div>
                          </div>
                          <div class="clear"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
