.rt-vc-course-slider .rt-course-box, .rt-vc-course-slider .rt-course-box-2, .rt-vc-course-slider .rt-course-box-3, .rt-vc-course-slider .rt-course-box-4 {
    margin-left: 10px;
    margin-right: 3px;
    width: auto;
    /* box-shadow: 9px 9px 17px #8c8c8c; */
}
.rt-course-box-3 .rtin-content, ul.learn-press-courses .rt-course-box-3 .rtin-content {
    padding: 20px;
    height: 180px;
}
#eventcarousel{
  margin: 0 auto;
  width: 85%;
}
#prodctowlcarousel img {
    height: 215px !important;
    width: 100% !important;
    padding: 6px;
}
.review-stars-rated .review-stars.empty, .review-stars-rated .review-stars.filled {
  width: 120px;
  height: 24px;
  font-family: dashicons;
  font-size: 18px;
  color: #ca0000;
}
.parallelogram-parent{
  float: left;
  margin-left: 15px;
}
#parallelogram {
  width: 300px;
  border-radius: 500px;
  height: 300px;
  /* -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg); */
  overflow: hidden;
  box-shadow: 9px 9px 17px #8c8c8c;
  background: #fafafa;
  margin-bottom: 20px;
  opacity: 0.9;
  background-size: 300px 300px !important;
}
#parallelogram::before {
  opacity: .4;
  content: "";
  z-index: -1;
}
#parallelogram:hover {
  width: 300px;
  height: 300px;
  opacity: 1;

  /* background: #ca0000; */
  /* -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg); */
  background: #19375B;
  color: white;
  overflow: hidden;
}
.parallelogram-parent h2 {
  color: #000;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 15px;
}
.parallelogram-parent h2:hover {
  color: #ca0000;
}
#parallelogram:hover h2 {
  color: #ff7676;
}
#parallelogram .childBG {
  /* -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
  transform: skew(15deg); */
  margin-top: 35%;
  text-align: center;
  padding: 0px 15px;
}
@media only screen and (max-width: 600px) {
  #parallelogram {
    width: 200px;
    height: 260px;
    /* background: #ca0000; */
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    background: #19375B;
    color: white;
    overflow: hidden;
    margin-left: 50px;
  }
  #eventcarousel{
    margin: 0 auto;
    width: 100%;
}
}
@media only screen and (max-width: 600px) {
  #parallelogram {
    width: 200px;
    height: 260px;
    /* background: #ca0000; */
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    background: #19375B;
    color: white;
    overflow: hidden;
    margin-left: 50px;

  }
  #eventcarousel{
    margin: 0 auto;
    width: 100%;
}
}
@media only screen and (min-width : 768px) and (max-width : 1024px)  {
  #eventcarousel{
    margin: 0 auto;
    width: 58%;
  }
}



