.news-child {
    background-color: #ffffff;
    box-shadow: 9px 9px 17px #8c8c8c;
    margin-right: 20px;
    height: 214px;
}

.news-parent {
    background-color: #ffffff;
    box-shadow: 9px 9px 17px #8c8c8c;
    height: 459px;
    overflow: hidden;
}
.rt-vc-posts .rtin-item .media-list{
    border-bottom: 1px solid #ababab;
}
.rt-vc-posts .rtin-item .media-list:last-child{
    border-bottom: none;
}
.rt-vc-posts .rtin-item .media-list .rtin-content-area .rtin-date {
  color: #ca0000;
}
.news-child .media{
    margin-top: 5px;
}