<div class="vc_row wpb_row vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="wpb_layerslider_element wpb_content_element">
          <div id="layerslider_3" class="ls-wp-container fitvidsignore" style="width:auto;min-height:400px;margin:0 auto;margin-bottom: 0px;">
            <div class="ls-slide"  data-ls="duration:4000;transition2d:5;kenburnsscale:1.2;" *ngFor="let item of ListData">
              <img src="{{BASE_URL_MEDIA + item.ImageUrl}}" class="ls-bg" alt="" 
              srcset="{{BASE_URL_MEDIA + item.ImageUrl}} 1922w, /images/slider23-300x122.jpg 300w, /images/slider23-768x311.jpg 768w, /images/slider23-1024x415.jpg 1024w, /images/slider23-300x122@2x.jpg 600w, /images/slider23-768x311@2x.jpg 1536w, /images/slider23-600x243@2x.jpg 1200w"
                sizes="(max-width: 1922px) 100vw, 1922px" />
              
              <div style="top:200px;left:30%;text-align:left;font-weight:400;font-style:normal;text-decoration:none;color:#e5e5e5;font-family:Roboto;line-height:28px;font-size:18px; background: #00000087;padding: 10px"
                class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetxin:left;durationin:1700;delayin:200;easingin:easeInCubic;">
                {{item.Description}}
              </div>
              <div style="top:100px;left:30%;text-align:left;font-weight:700;font-style:normal;text-decoration:none;color:#ffffff;font-family:Roboto;font-size:42px;line-height:50px;background: #00000087;padding: 10px"
                class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetyin:top;durationin:1700;easingin:easeInCubic;">
                {{item.Title}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
