<div class="vc_row wpb_row vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="wpb_layerslider_element wpb_content_element">
          <div id="layerslider_3" class="ls-wp-container fitvidsignore" style="width:1280px;height:700px;margin:0 auto;margin-bottom: 0px;">
            <div class="ls-slide" data-ls="duration:4000;transition2d:5;kenburnsscale:1.2;">
              <img width="1922" height="779" src="/assets/images/slider23.jpg" class="ls-bg" alt="" srcset="/assets/images/slider23.jpg 1922w, /images/slider23-300x122.jpg 300w, /images/slider23-768x311.jpg 768w, /images/slider23-1024x415.jpg 1024w, /images/slider23-300x122@2x.jpg 600w, /images/slider23-768x311@2x.jpg 1536w, /images/slider23-600x243@2x.jpg 1200w"
                sizes="(max-width: 1922px) 100vw, 1922px" />
              <a class="ls-l ls-hide-desktop ls-hide-tablet" href="#" target="_self" data-ls="showinfo:1;offsetyin:bottom;durationin:1700;delayin:400;easingin:easeInCubic;hover:true;hoverdurationin:100;hoveropacity:0.8;">
                <p style="top:478px;left:50%;text-align:center;font-weight:700;font-style:normal;text-decoration:none;background:#fdc800;color:#222222;width:280px;font-family:roboto;height:auto;padding-top:25px;padding-bottom:25px;line-height:30px;font-size:22px;"
                  class="">START A COURSE</p>
              </a>
              <div style="top:315px;left:50%;text-align:center;font-weight:400;font-style:normal;text-decoration:none;color:#e5e5e5;font-family:Roboto;line-height:40px;font-size:34px;"
                class="ls-l ls-hide-desktop ls-hide-tablet" data-ls="showinfo:1;offsetxin:left;durationin:1700;delayin:200;easingin:easeInCubic;">
                Emply dummy text of the printing and typesetting industry
                <br>orem Ipsum has been the industry's standard dummy text ever
                <br>sinceprinting and typesetting industry.
              </div>
              <div style="top:140px;left:50%;text-align:center;font-weight:700;font-style:normal;text-decoration:none;color:#ffffff;font-family:Roboto;font-size:65px;line-height:75px;"
                class="ls-l ls-hide-desktop ls-hide-tablet" data-ls="showinfo:1;offsetyin:top;durationin:1700;easingin:easeInCubic;">
                Best Education Wordpress
                <br>Theme For 2018
              </div>
              <a class="ls-l ls-hide-phone" href="#" target="_self" data-ls="showinfo:1;offsetyin:bottom;durationin:1700;delayin:400;easingin:easeInCubic;hover:true;hoverdurationin:100;hoveropacity:0.8;">
                <p style="top:365px;left:52px;text-align:center;font-weight:700;font-style:normal;text-decoration:none;background:#fdc800;color:#222222;width:160px;font-family:roboto;font-size:14px;height:48px;line-height:50px;"
                  class="">START A COURSE</p>
              </a>
              <div style="top:250px;left:52px;text-align:left;font-weight:400;font-style:normal;text-decoration:none;color:#e5e5e5;font-family:Roboto;line-height:28px;font-size:18px;"
                class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetxin:left;durationin:1700;delayin:200;easingin:easeInCubic;">
                Emply dummy text of the printing and typesetting industry
                <br>orem Ipsum has been the industry's standard dummy text ever
                <br>sinceprinting and typesetting industry.
              </div>
              <div style="top:130px;left:52px;text-align:left;font-weight:700;font-style:normal;text-decoration:none;color:#ffffff;font-family:Roboto;font-size:42px;line-height:50px;"
                class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetyin:top;durationin:1700;easingin:easeInCubic;">
                Best Education Wordpress
                <br>Theme For 2018
              </div>
            </div>
            <div class="ls-slide" data-ls="duration:4000;transition2d:5;kenburnsscale:1.2;">
              <img width="1920" height="700" src="/assets/images/slder_2.jpg" class="ls-bg" alt="" srcset="/assets/images/slder_2.jpg 1920w, /images/slder_2-300x109.jpg 300w, /images/slder_2-768x280.jpg 768w, /images/slder_2-1024x373.jpg 1024w, /images/slder_2-300x109@2x.jpg 600w, /images/slder_2-768x280@2x.jpg 1536w, /images/slder_2-600x219@2x.jpg 1200w"
                sizes="(max-width: 1920px) 100vw, 1920px" />
              <a class="ls-l ls-hide-desktop ls-hide-tablet" href="#" target="_self" data-ls="showinfo:1;offsetyin:bottom;durationin:1700;delayin:400;easingin:easeInCubic;hover:true;hoverdurationin:100;hoveropacity:0.8;">
                <p style="top:478px;left:50%;text-align:center;font-weight:700;font-style:normal;text-decoration:none;background:#fdc800;color:#222222;width:280px;font-family:roboto;font-size:22px;height:auto;line-height:30px;padding-top:25px;padding-bottom:25px;"
                  class="">START A COURSE</p>
              </a>
              <div style="top:315px;left:50%;text-align:center;font-weight:400;font-style:normal;text-decoration:none;color:#e5e5e5;font-family:Roboto;line-height:40px;font-size:34px;"
                class="ls-l ls-hide-desktop ls-hide-tablet" data-ls="showinfo:1;offsetxin:left;durationin:1700;delayin:200;easingin:easeInCubic;">
                Emply dummy text of the printing and typesetting industry
                <br>orem Ipsum has been the industry's standard dummy text ever
                <br>sinceprinting and typesetting industry.
              </div>
              <div style="top:140px;left:50%;text-align:center;font-weight:700;font-style:normal;text-decoration:none;color:#ffffff;font-family:Roboto;font-size:65px;line-height:75px;"
                class="ls-l ls-hide-desktop ls-hide-tablet" data-ls="showinfo:1;offsetyin:top;durationin:1700;easingin:easeInCubic;">
                Best Education Wordpress
                <br>Theme For 2018
              </div>
              <a class="ls-l ls-hide-phone" href="#" target="_self" data-ls="showinfo:1;offsetyin:bottom;durationin:1700;delayin:400;easingin:easeInCubic;hover:true;hoverdurationin:100;hoveropacity:0.8;">
                <p style="top:365px;left:52px;text-align:center;font-weight:700;font-style:normal;text-decoration:none;background:#fdc800;color:#222222;width:160px;font-family:roboto;font-size:14px;height:48px;line-height:50px;"
                  class="">START A COURSE</p>
              </a>
              <div style="top:250px;left:52px;text-align:left;font-weight:400;font-style:normal;text-decoration:none;color:#e5e5e5;font-family:Roboto;line-height:28px;font-size:18px;"
                class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetxin:left;durationin:1700;delayin:200;easingin:easeInCubic;">
                Emply dummy text of the printing and typesetting industry
                <br>orem Ipsum has been the industry's standard dummy text ever
                <br>sinceprinting and typesetting industry.
              </div>
              <div style="top:130px;left:52px;text-align:left;font-weight:700;font-style:normal;text-decoration:none;color:#ffffff;font-family:Roboto;font-size:42px;line-height:50px;"
                class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetyin:top;durationin:1700;easingin:easeInCubic;">
                Best Education Wordpress
                <br>Theme For 2018
              </div>
            </div>
            <div class="ls-slide" data-ls="duration:4000;transition2d:5;kenburnsscale:1.2;">
              <img width="1920" height="700" src="/assets/images/slider-3.jpg" class="ls-bg" alt="" srcset="/assets/images/slider-3.jpg 1920w, /images/slider-3-300x109.jpg 300w, /images/slider-3-768x280.jpg 768w, /images/slider-3-1024x373.jpg 1024w, /images/slider-3-300x109@2x.jpg 600w, /images/slider-3-768x280@2x.jpg 1536w, /images/slider-3-600x219@2x.jpg 1200w"
                sizes="(max-width: 1920px) 100vw, 1920px" />
              <a class="ls-l ls-hide-desktop ls-hide-tablet" href="#" target="_self" data-ls="showinfo:1;offsetyin:bottom;durationin:1700;delayin:400;easingin:easeInCubic;hover:true;hoverdurationin:100;hoveropacity:0.8;">
                <p style="top:478px;left:50%;text-align:center;font-weight:700;font-style:normal;text-decoration:none;background:#fdc800;color:#222222;width:280px;font-family:roboto;font-size:22px;height:auto;line-height:30px;padding-top:25px;padding-bottom:25px;"
                  class="">START A COURSE</p>
              </a>
              <div style="top:315px;left:50%;text-align:center;font-weight:400;font-style:normal;text-decoration:none;color:#e5e5e5;font-family:Roboto;line-height:40px;font-size:34px;"
                class="ls-l ls-hide-desktop ls-hide-tablet" data-ls="showinfo:1;offsetxin:left;durationin:1700;delayin:200;easingin:easeInCubic;">
                Emply dummy text of the printing and typesetting industry
                <br>orem Ipsum has been the industry's standard dummy text ever
                <br>sinceprinting and typesetting industry.
              </div>
              <div style="top:140px;left:50%;text-align:center;font-weight:700;font-style:normal;text-decoration:none;color:#ffffff;font-family:Roboto;font-size:65px;line-height:75px;"
                class="ls-l ls-hide-desktop ls-hide-tablet" data-ls="showinfo:1;offsetyin:top;durationin:1700;easingin:easeInCubic;">
                Best Education Wordpress
                <br>Theme For 2018
              </div>
              <a class="ls-l ls-hide-phone" href="#" target="_self" data-ls="showinfo:1;offsetyin:bottom;durationin:1700;delayin:400;easingin:easeInCubic;hover:true;hoverdurationin:100;hoveropacity:0.8;">
                <p style="top:365px;left:52px;text-align:center;font-weight:700;font-style:normal;text-decoration:none;background:#fdc800;color:#222222;width:160px;font-family:roboto;font-size:14px;height:48px;line-height:50px;"
                  class="">START A COURSE</p>
              </a>
              <div style="top:250px;left:52px;text-align:left;font-weight:400;font-style:normal;text-decoration:none;color:#e5e5e5;font-family:Roboto;line-height:28px;font-size:18px;"
                class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetxin:left;durationin:1700;delayin:200;easingin:easeInCubic;">
                Emply dummy text of the printing and typesetting industry
                <br>orem Ipsum has been the industry's standard dummy text ever
                <br>sinceprinting and typesetting industry.
              </div>
              <div style="top:130px;left:52px;text-align:left;font-weight:700;font-style:normal;text-decoration:none;color:#ffffff;font-family:Roboto;font-size:42px;line-height:50px;"
                class="ls-l ls-hide-phone" data-ls="showinfo:1;offsetyin:top;durationin:1700;easingin:easeInCubic;">
                Best Education Wordpress
                <br>Theme For 2018
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
